body{
	overflow: hidden;
	min-width: 960px;
}

#clock{
  position: absolute;
  color: #3B9FC4;
  font-weight: bold;
  font-size: 75px;
  z-index: 1;
  top: 260px;
  left: 1190px;
}

.ramka2 {
	position: absolute;
	width: 350px;
	height: 250px;
	top: 180px;
	left: 1155px;
	filter: blur(5px) saturate(150%);
}


.background {
	position: absolute;
	left: -140px;
	top: -10px;
	width: 1650px;
	height: 2500px;
	filter: hue-rotate(50deg) blur(4px) saturate(120%);
	visibility: visible;
}

.background2 {
	position: absolute;
	left: -140px;
	top: 2000px;
	width: 1650px;
	height: 2800px;
	filter: hue-rotate(50deg) blur(4px) saturate(120%);
}


.upper {
	color: white;
	position: absolute;
	margin: auto;
	font-size: 150px;
	z-index: 2;
	left: 350px;
	top: 200px;
}

.ramka {
	position: absolute;
	width: 1000px;
	height: 250px;
	top: 50px;
	left: 240px;
	filter: blur(5px);
}

.sunshine {
	position: absolute;
	width: 900px;
	top: -260px;
	left: 280px;
	filter: blur(2px) saturate(120%) hue-rotate(100deg);
}

.line {
	position: absolute;
	width: 1400px;
	height: 150px;
	top: 320px;
	left: 40px;
	filter: blur(5px);
}

.pogoda {
	position: absolute;
	width: 600px;
	top: 500px;
	left: 120px;
	z-index: 1;
}

.kalendar {
	position: absolute;
	width: 600px;
	top: 500px;
	left: 750px;
	z-index: 1;
}

.photo{
	position: absolute;
	width: 600px;
	top: 1200px;
	left: 120px;
	z-index: 1;
}

.inst {
	position: absolute;
	width: 600px;
	top: 1200px;
	left: 750px;
	z-index: 1;
}

.sotka {
	position: absolute;
	width: 600px;
	top: 1900px;
	left: 120px;
	z-index: 1;
}

.surprize {
	position: absolute;
	width: 600px;
	top: 1900px;
	left: 750px;
	z-index: 2;
}

#heart {
	position: absolute;
	width: 1300px;
	top: 800px;
	z-index: 1;
	left: 100px;
}